################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mono.Data.Tds/bin/Debug
/Mono.Data.Tds/obj
